venv
dist
build
instagramy.egg-info
.vscode
instagramy/__pycache__
test/__pycache__
core/__pycache__
instagramy/core/__pycache__
.instagramy_cache
instagramy/plugins/__pycache__
.old
instagramy/plugins/__pycache__
test.json
